{% extends "base.html" %}
{% load static %}

{% block extra_headers %}
    <link rel="stylesheet" href="{% static "styles/evenementen/evenementen_base.css" %}">
    {% block extra_inschrijvingen_headers %}{% endblock extra_inschrijvingen_headers %}
{% endblock extra_headers %}

{% block content %}
<div class="evenement-hoofding">
    <button class="evenement-terug-knop" onclick="history.back()">Back</button>
    <h1 class="evenement-titel">{{ inschrijving.evenement }} - {{ inschrijving.lid }}</h1>
    <nav class="evenement-nav">
        <a href="/inschrijvingen/{{ inschrijving.id }}" class="geselecteerd">Algemeen</a>
        <a href="/inschrijvingen/{{ inschrijving.id }}/vragen">Vragen</a>
    </nav>
</div>

{% block inschrijvingen_content %}
{% endblock inschrijvingen_content %}

{% endblock content %}