{% extends "inschrijvingen/inschrijvingen_base.html" %}

{% block inschrijvingen_content %}
<h2>Algemene informatie</h2>

<div class="inschrijving-attribuut-container">
    <div class="inschrijving-attribuut-label">Evenement</div>
    <div class="inschrijving-attribuut-waarde">
        {{ inschrijving.evenement }}
    </div>
</div>

<div class="inschrijving-attribuut-container">
    <div class="inschrijving-attribuut-label">Deelnemertype</div>
    <div class="inschrijving-attribuut-waarde">
        {{ inschrijving.deelnemertype|default:"-" }}
    </div>
</div>

<div class="inschrijving-attribuut-container">
    <div class="inschrijving-attribuut-label">Prijs</div>
    <div class="inschrijving-attribuut-waarde">
        {{ inschrijving.prijs|default:"-" }}
    </div>
</div>

<div class="inschrijving-attribuut-container">
    <div class="inschrijving-attribuut-label">Aanwezig</div>
    <div class="inschrijving-attribuut-waarde">
        <input type="checkbox" disabled {% if inschrijving.annulatie == None %}checked{% endif %}>
    </div>
</div>
{% endblock inschrijvingen_content %}