{% extends "base.html" %}
{% load type_filters %}

{% block content %}
<form method="get" class="evenement-filter">
    <label>
        Zoek evenement
        <input type="textfield" name="q" value="{{ request.GET.q }}" placeholder="Zoek evenement">
    </label>
    <label>
        Filter categorie
        <select name="categorie" id="categorie">
            <option value="" {% if not request.GET.categorie %}selected{% endif %}>Alle</option>
            {% for categorie in categorieen %}
                <option value="{{categorie.naam}}" {% if request.GET.categorie == categorie.naam %}selected{% endif %}>{{ categorie.naam }}</option>
            {% endfor %}
        </select>
    </label>
    <label>
        Filter Weez
        <select name="weez">
            <option value="" {% if not request.GET.weez %}selected{% endif %}>Alle</option>
            <option value="1" {% if request.GET.weez == "1" %}selected{% endif %}>Weez</option>
            <option value="0" {% if request.GET.weez == "0" %}selected{% endif %}>INIS/KV</option>
        </select>
    </label>
    <button type="submit">Filter</button>
</form>

<table class="evenement-tabel">
    <thead>
        <tr>
            <th><a href="{% sorteer_url 'id' %}">ID</a> {% sorteer_icoon 'id' %}</th>
            <th><a href="{% sorteer_url 'is_weez' %}">Weezevent</a> {% sorteer_icoon 'is_weez' %}</th>
            <th><a href="{% sorteer_url 'titel' %}">Titel</a> {% sorteer_icoon 'titel' %}</th>
            <th><a href="{% sorteer_url 'categorie' %}">Categorie</a> {% sorteer_icoon 'categorie' %}</th>
            <th><a href="{% sorteer_url 'status' %}">Status</a> {% sorteer_icoon 'status' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for evenement in evenementen %}
            <tr class="evenement-rij {% if evenement.foutboodschap %}foutboodschap-tekst{% endif %}" onclick="window.location.href='{% url "evenement_detail" id=evenement.id %}'"
                {% if evenement.foutboodschap %}title="{{evenement.foutboodschap}}"{% endif %}>
                <td>{{ evenement.id }}</td>
                <td><input type="checkbox" disabled {% if evenement.is_weez %}checked{% endif %}></td>
                <td>{{ evenement.titel }}</td>
                <td>{{ evenement.categorie }}</td>
                <td>{{ evenement.status }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}