{% extends "evenementen/evenementen_base.html" %}
{% load static %}

{% block extra_evenementen_headers %}
    <link rel="stylesheet" href="{% static "styles/detail_pagina.css" %}">
{% endblock extra_evenementen_headers %}

{% block evenementen_content %}

<div class="detail-attribuut-container">
    <div class="detail-attribuut-label">Beschrijving</div>
    <div class="detail-attribuut-waarde">
        {% if evenement.beschrijving %}
            {{ evenement.beschrijving|safe }}
        {% else %}
            <p></p>
        {% endif %}
    </div>
</div>
<div class="detail-attribuut-container">
    <div class="detail-attribuut-label">Status</div>
    <div class="detail-attribuut-waarde">
        {{ evenement.status }}
    </div>
</div>
<div class="detail-attribuut-container">
    <div class="detail-attribuut-label">Locatie</div>
    <div class="detail-attribuut-waarde">
        {% if evenement.locatie_naam %}
            {{ evenement.locatie_naam }}
        {% elif evenement.locatie_straat %}
            {{ evenement.locatie_straat}}, {{ evenement.locatie_postcode }} {{ evenement.locatie_stad }}
        {% else %}
            Geen locatie gegeven
        {% endif %}        
    </div>
</div>
<div class="detail-attribuut-container">
    <div class="detail-attribuut-label">Starttijd</div>
    <div class="detail-attribuut-waarde">
        {{ evenement.starttijd }}
    </div>
</div>
<div class="detail-attribuut-container">
    <div class="detail-attribuut-label">Eindtijd</div>
    <div class="detail-attribuut-waarde">
        {{ evenement.eindtijd }}
    </div>
</div>
<div class="detail-attribuut-container">
    <div class="detail-attribuut-label">Categorie</div>
    <div class="detail-attribuut-waarde">
        {{ evenement.categorie }}
    </div>
</div>
{% endblock evenementen_content %}