{% extends "base.html" %}
{% load type_filters %}

{% block content %}
<form method="get" class="kolom-keuze">
    <label>
        Zoek evenement
        <input type="textfield" name="q" value="{{ request.GET.q }}" placeholder="Zoek evenement">
    </label>
    {% for kolom, label in alle_kolommen.items %}
        <label>
            <input type="checkbox" name="kolom" value="{{ kolom }}"
                {% if kolom in gekozen_kolommen %}checked{% endif %}>
            {{ label }}
        </label>
    {% endfor %}
    <label>
        Filter categorie
        <select name="categorie" id="categorie">
            <option value="" {% if not request.GET.categorie %}selected{% endif %}>Alle</option>
            {% for categorie in categorieen %}
                <option value="{{categorie.naam}}" {% if request.GET.categorie == categorie.naam %}selected{% endif %}>{{ categorie.naam }}</option>
            {% endfor %}
        </select>
    </label>
    <label>
        Filter Weez
        <select name="weez">
            <option value="" {% if not request.GET.categorie %}selected{% endif %}>Alle</option>
            <option value="1" {% if request.GET.categorie == "1" %}selected{% endif %}>Weez</option>
            <option value="0" {% if request.GET.categorie == "0" %}selected{% endif %}>INIS/KV</option>
        </select>
    </label>
    <button type="submit">Filter</button>
</form>

<table class="evenement-tabel">
    <thead>
        <tr>
            {% for label in gekozen_labels %}
                <th>{{ label }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for evenement_id, waarden in rijen %}
            <tr class="evenement-rij" onclick="window.location.href='{% url "evenement_detail" id=evenement_id %}'">
                {% for waarde in waarden %}
                    <td>
                        {% if waarde|is_boolean %}
                                <input type="checkbox" disabled {% if waarde %}checked{% endif %}>
                        {% elif waarde|is_none %}
                        {% else %}
                            {{ waarde }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}