{% extends "evenementen/evenementen_base.html" %}
{% load type_filters %}

{% block evenementen_content %}

{% if not evenement.foutboodschap %}
    <button onclick="window.location.href='{% url "evenementen_inschrijvingen_attesten_download" evenement_id=evenement.id %}'">Download attesten voor aanwezige deelnemers</button>
    <button onclick="window.location.href='{% url "evenementen_inschrijvingen_attesten_mail" evenement_id=evenement.id %}'">Mail attesten voor aanwezige deelnemers</button>
{% endif %}
<form method="get" class="inschrijving-filter">
    <label>
        Zoek deelnemer
        <input type="textfield" name="q" value="{{ request.GET.q }}" placeholder="Zoek deelnemer">
    </label>
    <label>Aanwezigheid
        <select name="aanwezig" id="aanwezig">
            <option value="" {% if not request.GET.aanwezig %}selected{% endif %}>Alle</option>
            <option value="1" {% if request.GET.aanwezig == "1" %}selected{% endif %}>Aanwezig</option>
            <option value="0" {% if request.GET.aanwezig == "0" %}selected{% endif %}>Afwezig</option>
        </select>
    </label>
    <button type="submit">Filter</button>
</form>
<table class="inschrijving-tabel">
    <thead>
        <tr>
            <th>ID</th>
            <th>Deelnemer</th>
            <th>Type</th>
            <th>Tijdstip</th>
            <th>Betaald</th>
            <th>Annulatie</th>
            <th>Geregistreerd</th>
        </tr>
    </thead>
    <tbody>
        {% for inschrijving in inschrijvingen %}
            <tr class="inschrijving-rij {% if inschrijving.lid.foutboodschap %}foutrij{% endif %}" 
                onclick="window.location.href='{% url "inschrijving_detail" inschrijving_id=inschrijving.id %}'"
                {% if rij.instantie.lid.foutboodschap %}title="{{rij.instantie.lid.foutboodschap}}"{% endif %}>
                <td> {{inschrijving.id}} </td>
                <td> {{inschrijving.lid}} </td>
                <td> {{inschrijving.deelnemertype}} </td>
                <td> {{inschrijving.tijdstip}} </td>
                <td> {{inschrijving.prijs}} </td>
                <td>
                    {% if inschrijving.annulatie %}
                        {{inschrijving.annulatie_reden}}
                    {% elif inschrijving.lid.foutboodschap %}
                        {{inschrijving.lid.foutboodschap}}
                    {% endif %}
                </td>
                <td><input type="checkbox" disabled {% if inschrijving.registratie %}checked{% endif %}></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% include "widgets/paginering.html" with pagina=pagina %}

{% endblock evenementen_content %}